services:
  dspace:
    environment:
      dspace__P__server__P__url: 'http://localhost:${DSPACE_HOST_PORT}/server'
      dspace__P__ui__P__url: 'http://localhost:${ANGULAR_HOST_PORT}'
  angular:
    environment:
      DSPACE_REST_HOST: localhost
      DSPACE_REST_PORT: 8080
      DSPACE_REST_SSL: 'false'
    ports:
      - "${ANGULAR_HOST_PORT}:4000"
    volumes:
      - "../../dspace-angular:/app"
      - "node-cache:/cache"
  mailpit:
    env_file:
      - secrets.env
    image: axllent/mailpit
    ports:
      - ${MAILPIT_HOST_PORT}:8025
    networks:
      - dspace-net
volumes:
  node-cache:
