x-restart: &default-restart
  restart: unless-stopped

services:
  angular:
    image: docker.ub.gu.se/dspace-angular:dspace-8_x-${DSPACE_ANGULAR_VERSION}-dist
    environment:
      DSPACE_REST_HOST: '${ANGULAR_PUBLIC_HOST}'
      DSPACE_REST_PORT: 443
      DSPACE_REST_SSL: 'true'
  dspace:
    environment:
      dspace__P__server__P__url: https://${DSPACE_PUBLIC_HOST}/server
      dspace__P__ui__P__url: https://${ANGULAR_PUBLIC_HOST}
      dspace__P__name: '${REPOSITORY_NAME}'
      dspace__P__shortname: '${REPOSITORY_NAME}'
  gupea-espikning:
    env_file:
      - secrets.env
    image: docker.ub.gu.se/gupea-espikning:${GUPEA_ESPIKNING_GIT_REVISION}
    labels:
      gu.ub.logging_format: ECS
    environment:
      MIX_ENV: prod
      DATABASE_URL: 'ecto://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}'
      DSPACE_API_BASE_URL: '${DSPACE_API_BASE_URL}'
      SMTP_SERVER: '${SMTP_SERVER}'
      SMTP_PORT: '${SMTP_PORT}'
      PHX_HOST: '${ANGULAR_PUBLIC_HOST}'
      PHX_PATH: '/espikning'
      PHX_IP: 0.0.0.0
    depends_on:
      - dspace
      - postgres
    ports:
      - ${GUPEA_ESPIKNING_HOST_PORT}:4000
    networks:
      - dspace-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/" ]
      interval: 15s
      timeout: 5s
      retries: 5
    <<: *default-restart
  gupea-dflow-import:
    image: docker.ub.gu.se/gupea-dflow-import:${GUPEA_DFLOW_IMPORT_GIT_REVISION}
    labels:
      gu.ub.logging_format: ECS
    env_file:
      - secrets.env
      - dspace.service.env
    environment:
      DSPACE_BINARY: '${DSPACE_BINARY}'
      DFLOW_IMPORT_BASE_PATH: '${GUPEA_DFLOW_IMPORT_BASE_PATH_INTERNAL}'
      DFLOW_IMPORT_MAPFILE_REGEXP: '${GUPEA_DFLOW_IMPORT_MAPFILE_REGEXP}'
      DFLOW_IMPORT_USER: '${GUPEA_DFLOW_IMPORT_USER}'
      DFLOW_IMPORT_GUPEA_URLBASE: 'https://${DSPACE_PUBLIC_HOST}/'
      RACK_ENV: "production"
    ports:
      - '${GUPEA_DFLOW_IMPORT_HOST_PORT}:3000'
    networks:
      - dspace-net
    volumes:
      - ${DSPACE_ASSET_STORE_HOST_DIR}:/dspace/assetstore:rw
      - ${GUPEA_DFLOW_IMPORT_DATA_HOST_DIR}:${GUPEA_DFLOW_IMPORT_BASE_PATH_INTERNAL}
    <<: *default-restart
  gupea-xslt-uppsok:
    image: docker.ub.gu.se/gupea-xslt-uppsok:${GUPEA_XSLT_UPPSOK_GIT_REVISION}
    environment:
      DSPACE_HOST: dspace
      DSPACE_PORT: '${DSPACE_PORT}'
      RACK_ENV: "production"
    networks:
      - dspace-net
    ports:
      - '${GUPEA_XSLT_UPPSOK_HOST_PORT}:3000'
    <<: *default-restart
  anubis:
    image: ghcr.io/techarohq/anubis:latest
    networks:
      - dspace-net
    environment:
      BIND: ":8080"
      DIFFICULTY: "4"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "true"
      TARGET: "http://angular:4000"
      POLICY_FNAME: "/data/cfg/botPolicy.yaml"
      OG_PASSTHROUGH: "true"
      OG_EXPIRY_TIME: "24h"
    healthcheck:
      test: ["CMD", "anubis", "--healthcheck"]
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 500ms
    ports:
      - ${ANGULAR_HOST_PORT}:8080
    volumes:
      - "${ANUBIS_BOT_POLICY_HOST_FILE}:/data/cfg/botPolicy.yaml:ro"
    <<: *default-restart
