<VirtualHost *:80>
  ServerName {{ angular_hostname }}
  Redirect permanent / https://{{ angular_hostname }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ angular_hostname }}

  ProxyPass /submissions !

  Redirect permanent /submissions https://{{ angular_hostname }}/mydspace?configuration=workspace

  RequestHeader set X-Forwarded-Proto https
  ProxyPass        /dflow-import http://127.0.0.1:{{ gupea_dflow_import_host_port }}/dflow_import
  ProxyPassReverse /dflow-import http://127.0.0.1:{{ gupea_dflow_import_host_port }}/dflow_import

  ProxyPass        /oai http://127.0.0.1:{{ dspace_host_port }}/server/oai
  ProxyPassReverse /oai http://127.0.0.1:{{ dspace_host_port }}/server/oai

  ProxyPass        /oai-uppsok http://127.0.0.1:{{ gupea_xslt_uppsok_host_port }}/oai
  ProxyPassReverse /oai-uppsok http://127.0.0.1:{{ gupea_xslt_uppsok_host_port }}/oai

  ProxyPass        /robots.txt http://127.0.0.1:{{ angular_extra_host_port }}/robots.txt
  ProxyPassReverse /robots.txt http://127.0.0.1:{{ angular_extra_host_port }}/robots.txt

  ProxyPass        /sitemap http://127.0.0.1:{{ angular_extra_host_port }}/sitemap
  ProxyPassReverse /sitemap http://127.0.0.1:{{ angular_extra_host_port }}/sitemap

  ProxyPass        /htmlmap http://127.0.0.1:{{ angular_extra_host_port }}/htmlmap
  ProxyPassReverse /htmlmap http://127.0.0.1:{{ angular_extra_host_port }}/htmlmap

  # DSpace server
  ProxyPass        /server http://127.0.0.1:{{ dspace_host_port }}/server
  ProxyPassReverse /server http://127.0.0.1:{{ dspace_host_port }}/server

{% if inventory_hostname != 'production' %}
  # Mailpit for non production environments
  ProxyPass        /mail http://127.0.0.1:{{ mailpit_host_port }}/mail
  ProxyPassReverse /mail http://127.0.0.1:{{ mailpit_host_port }}/mail

  SSLProxyEngine on
  RewriteEngine on
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteCond %{HTTP:Connection} upgrade [NC]
  RewriteRule ^/mail/?(.*) "ws://127.0.0.1:{{ mailpit_host_port }}/mail/$1" [P,L]
{% endif %}

  ProxyPreserveHost On
  ProxyRequests Off

  # Espikning
  RewriteEngine On

  # WebSocket proxy for LiveReload
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteRule ^/espikning/?(.*) ws://127.0.0.1:{{ gupea_espikning_host_port }}/$1 [P,L]

  # HTTP proxy for everything else
  RewriteCond %{HTTP:Upgrade} !=websocket [NC]
  RewriteRule ^/espikning/?(.*) http://127.0.0.1:{{ gupea_espikning_host_port }}/$1 [P,L]

  # Optional: redirect /espikning/favicon.ico
  # Redirect /espikning/favicon.ico /favicon.ico

  <Location "/espikning">
    AuthType Basic
    AuthName "Restricted Content"
    AuthUserFile /etc/apache2/conf-enabled/.htpasswd
    Require valid-user
  </Location>

  # DSpace frontend (through Anubis)

  # @TODO: Default is already Off, so perhaps remove?
  ProxyVia Off

  # These headers need to be set or else Anubis will
  # throw an "admin misconfiguration" error.
  RequestHeader set "X-Real-Ip" expr=%{REMOTE_ADDR}
  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set "X-Http-Version" "%{SERVER_PROTOCOL}s"

  # Anubis listens on frontend host port and proxies request
  # to the frontend port on the internal docker network
  ProxyPass        / http://127.0.0.1:{{ angular_host_port }}/
  ProxyPassReverse / http://127.0.0.1:{{ angular_host_port }}/

  SSLEngine on
  SSLCertificateFile /etc/ssl/apache2/certs/ub-gu-se.pem
  SSLCertificateKeyFile /etc/ssl/apache2/private/ub-gu-se.key
  SSLCertificateChainFile /etc/ssl/apache2/certs/ub-gu-se-chain.pem
</VirtualHost>

