---
- name: Deploy
  hosts: all
  tasks:

  - name: Ensure data directory
    become: yes
    ansible.builtin.file:
      path: '{{ data_dir }}'
      state: directory
      owner: '{{ ansible_user }}'
      group: '{{ ansible_user }}'
      mode: '755'

  - name: Ensure data sub-directies
    become: yes
    ansible.builtin.file:
      path: '{{ item }}'
      state: directory
      owner: '{{ ansible_user }}'
      group: '{{ ansible_user }}'
      mode: '755'
    loop:
      - '{{ postgres_data_dir }}'
      - '{{ dspace_asset_store_dir }}'
      - '{{ dspace_logs_dir }}'
      - '{{ gupea_dflow_import_data_dir }}'

  - name: Ensure solr data directory
    become: yes
    ansible.builtin.file:
      path: '{{ solr_data_dir }}'
      state: directory
      owner: '8983'
      group: '8983'
      mode: '755'

  - name: Deploy app
    include_role:
      name: ub-ansible-deploy
    vars:
      docker_scripts:
        - generate_all_envs.sh
